<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/97443397e6.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
    <title>Dashboard</title>

</head>

<body style="background-image: url('/images/note2.jpg');  background-size: cover; opacity: 0.9; ">

    <nav class="flex flex-row justify-between">

        <div class="flex flex-row gap-[2px] p-12">
            <h1 class="text-white font-nerko cursor-pointer text-3xl" style="font-weight: 400;">My</h1>
            <h1 class="text-green-300 text-3xl cursor-pointer">Notes</h1>
        </div>

        <div class="flex flex-row p-12 gap-12">
            <a href="/Login" class="text-white font-bold p-[5px] text-3xl">Login</a>
            <a href="/Register"
                class="text-white font-bold text-3xl border-2 bg-green-600 border-transparent p-[2px] w-[180px] h-[45px] text-center rounded-3xl">Register</a>
        </div>

    </nav>

    <header>
        <div class="flex flex-row gap-4 justify-center">
            <h2 class="text-white text-5xl">Write down your thoughts!</h2>
            <a href=""><i class="fa-solid fa-pen text-white"></i></a>
        </div>
        <p class="text-white text-center">Organise your daily tasjs by capturing down your ideas, thoughts and reminders
            all in one
            place!</p>
        <p class="text-white text-center"> To help you stay <span>productive</span>and <span>creative!</span></p>

        <p class="text-white text-center">Create your notes today as you explore the features!</p>

        <button class="bg-green-600 text-white items-center m-auto">Let's get started</button>
    </header>

    <footer>
        <p class="text-white">&copy; 2024 MyNotes. All rights reserved</p>
    </footer>



</body>

</html>