<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/97443397e6.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>HomePage</title>
</head>

<style>
    @keyframes fading {
        0% {
            opacity: 0;
            transform: translateX(20px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .animate-fading {
        animation: fading 5s ease forwards;
    }
</style>

<body class="bg-[#FEF9D9]">
    <nav class="flex flex-row justify-between p-16 ">
        <div class="flex flex-row">
            <a href="/Home">
                <h1 class="text-2xl font-bold">My</h1>
            </a>
            <a href="/Home">
                <h1 class="text-green-600 text-2xl font-bold">Notes</h1>
            </a>
        </div>

        <div class="flex flex-row">

            <form action="/search" method="GET" class="flex">
                <input type="text" name="q" placeholder="Search Your Notes"
                    class="border-2 border-transparent rounded-3xl h-[45px] w-[400px]">
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass relative text-green-600 mt-[2px] text-xl right-12"></i>
                </button>
            </form>

        </div>

        <button class="font-bold text-xl mr-20 text-green-600" onclick="handleLogout()">Logout</button>

    </nav>

    <header>

        <div class="flex flex-row ml-44 justify-between">
            <h2 class="font-bold text-2xl">My Notes</h2>
            <button class="flex border-transparent w-[120px] rounded-2xl bg-green-600 gap-2 mr-24 flex-row border-2 ">
                <a href="/add">
                    <p class="text-xl text-center">
                        + New note</p>
                </a>
            </button>

        </div>

        <div class="flex p-4 ml-20 flex-wrap gap-6">
            <% if (notes.length> 0) { %>
                <% notes.forEach(function(note) { %>
                    <a href="/note/<%= note._id %>" class="mb-8 p-4 border-2 border-gray-300 w-[300px] h-[200px]>
                        shadow-lg bg-white">
                        <h3 class="text-xl text-green-600 font-bold">
                            <%= note.title %>
                        </h3>
                        <p>
                            <%= note.body %>
                        </p>
                    </a>
                    <% }); %>
        </div>
        <% } else { %>

            <div class="p-12 ml-32">
                <p class="font-bold">Let's get started with your first note</p>
                <div>
                    <a href="/add" class="animate-fading font-bold text-green-600 underline">Create one</a>
                    <a href="/add"><i class="fa-regular ml-4 text-green-600 fa-hand-point-left"></i></a>
                </div>

            </div>

            <% } %>

    </header>

    <footer>
        <p class=" font-bold text-xl  p-4">&copy; 2024 MyNotes. All rights reserved</p>
    </footer>


    <script>
        function handleLogout() {
            fetch('/logout', {
                method: 'GET',
            })
                .then(response => {
                    // Redirect to login page after successful logout
                    window.location.href = '/Login';
                })
                .catch(error => console.error('Error:', error));
        }
    </script>

</body>

</html>